body{
    background-color: rgb(0, 10, 31);
    color: white;
}
h3{
    text-align: center;
    margin: 20px 10px;
}

/* ------FORM------ */
.container{
    display: flex;
    border: 1px solid rgb(146, 146, 146);
    border-radius: 20px;
    text-align: left;
    justify-content: start;
}
form{
    width: 50%;
    padding: 15px;
}
.pool, .mr, .garden{
    margin-top: 15px;
}
.submit{
    margin-top: 15px;
}

/* ------Prediction Portion------ */
.show{
    margin-left: 30px;
}
h4{
    margin-top: 10px;
    text-align: left;
    display: block;
}
p{
    font-size: 1.5rem;
}